<html>
<head>
<title>Sketchpad</title>
<script src="views/js/utili.js"></script>
<!-- jQuery JS (required for Bootstrap)-->
<script src="views/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap CSS -->
<link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="views/sketchpad/css/style.css">
<!-- Bootstrap JS -->
<script src="views/bootstrap/js/bootstrap.min.js"></script>

<!-- sketchpad -->
<script src="views/sketchpad/js/sketchpad.js"></script>
<script src="views/sketchpad/js/istraw.js"></script>
<script src="views/sketchpad/js/shortStraw.js"></script>
<script src="views/sketchpad/js/sketchRecTools.js"></script>

</head>
<body onload="init()">
  <div id="content" >

    <div id="backg" style="background-image: url(views/image/<%= image %>); background-repeat: no-repeat;
    background-size: 1264px 600px;">
      <!-- <img src="views/image/<%= image %>" height="600" width="900"> -->
      <canvas id="drawCanvas" class="canvaslook" width="632" height="580" ></canvas>
    </div>


    <div class="form-group">
      <button type="button" class="btn btn-default btn-sm" onclick="clearButton(drawCanvas, drawContext);">
          <span class="glyphicon glyphicon-trash"></span> Clear
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown">
        <span class="glyphicon glyphicon-pencil"></span> Stroke Size <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
        <p id="penSize"></p>
        <li><a href="#" onclick="test(3);">1</a></li>
        <li><a href="#" onclick="test(5);">2</a></li>
        <li><a href="#" onclick="test(7);">3</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-default btn-sm" onclick="undoButton(drawCanvas, drawContext);">
          <span class="glyphicon glyphicon-arrow-left"></span> Undo
      </button>
      <button type="button" class="btn btn-default btn-sm" onclick="testButton();">
          <span class="glyphicon glyphicon-upload"></span> Submit
      </button>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-question-sign"></span>Help</button>
      <div id="demo" class="collapse">
  Left image is the original image. Right image is for finding differences. You can circle redundant parts and draw missing parts on the right image.
      </div>

      <form action="/" method="get">
      <button type="submit" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-home"></span> Home
      </button>
    </div>
    </form>
  </div>

  <script>

  function testButton() {
    //collected sketch
    var sketch = getSketch();
    printSketch(sketch);
  }

  function printSketch(sketch) {
    console.log(sketch);
  }

  // ----- helper methods -----

  function instruct() {

    //
    var hasSelected = false;

    // get the name of the dropdown menu's current selection
    var algorithmElement = document.getElementById("algorithm");
    var instructionsElement = document.getElementById("instructions");
    var argumentElement = document.getElementById("argument");

    var algorithmName = algorithmElement.options[algorithmElement.selectedIndex].text;

  }


  </script>
</body>
</html>
