<html>
<head>
<title>Find Diffrence Game</title>
<script src="views/js/utili.js"></script>
<script src="views/js/templatematch.js"></script>
<!-- jQuery JS (required for Bootstrap)-->
<script src="views/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap CSS -->
<link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="views/sketchpad/css/style.css">
<!-- Bootstrap JS -->
<script src="views/bootstrap/js/bootstrap.min.js"></script>

<!-- sketchpad -->
<script src="views/sketchpad/js/sketchpad.js"></script>
<script src="views/sketchpad/js/istraw.js"></script>
<script src="views/sketchpad/js/shortStraw.js"></script>
<script src="views/sketchpad/js/sketchRecTools.js"></script>

</head>
<body onload="init()">
  <div id="content" >

    <div id="backg" style="background-image: url(views/image/<%= image %>); background-repeat: no-repeat;
    background-size: 1259px;" data-image="views/image/<%= image %>">
      <!-- <img src="views/image/<%= image %>" height="600" width="900"> -->
      <canvas id="drawCanvas" class="canvaslook" width="630" height="497" ></canvas>
    </div>

      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm" onclick="clearButton(drawCanvas, drawContext);" data-toggle="tooltip" title="remove all the strokes and restart">
            <span class="glyphicon glyphicon-trash"></span> Clear
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown">
          <span class="glyphicon glyphicon-pencil"></span> Stroke Size <span class="caret"></span></button>
          <ul id="pensize" class="dropdown-menu" role="menu">
            <li><a href="#">1</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">7</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default btn-sm" onclick="colorRed();" style="color:#FF0000;" data-toggle="tooltip" title="use red to mark redundant parts">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm" onclick="colorBlack();" style="color:#000000;" data-toggle="tooltip" title="use black to draw missing parts">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm" onclick="undoButton(drawCanvas, drawContext);" data-toggle="tooltip" title="remove last stroke">
            <span class="glyphicon glyphicon-arrow-left"></span> Undo
        </button>
        <button type="submit" class="btn btn-default btn-sm" onclick="testButton();" data-toggle="tooltip" title="remove last stroke">
          <span class="glyphicon glyphicon-upload"></span> Template
        </button>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#feedback">
            <span class="glyphicon glyphicon-upload"></span> Submit
        </button>

        <!-- Feedback modal -->
        <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" style="display: inline;">Feedback</h3>
            </div>
              <div class="modal-body">
                <img src="views/image/Contitle.jpg" style="width:100%;height:20%;"> </img>
                <img src="views/image/congrats.gif"></img>
                <ul class="list-group" style="padding-top: 30px;">
                  <li class="list-group-item text-center"><b>Your Score</b></li>
                  <li class="list-group-item text-center">100</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="showTemplate();" data-dismiss="modal" style="display: inline;">See solution</button>
                <form action = "/" method = "get" style="display: inline;">
                  <button type="submit" class="btn btn-primary">Play again game</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#helper" title="Help"
          data-content=" Left image is the original image. Right image is for finding differences. You can circle redundant parts and draw missing parts on the right image.">
            <span class="glyphicon glyphicon-question-sign"></span>Help
          </button>

          <!-- healper Modal -->
          <div class="modal fade bd-example-modal" id="helper" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" style="float:left;">Healper</h4>
              </div>
                <img src="views/image/help.png "class="img-responsive"> </img>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" style="display: inline;">Back to Game</button>
                </div>
              </div>
            </div>
          </div>

          <form action="/" method="get" style="display: inline-block;">
          <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-home"></span>Home
          </button>
          </form>
        </div>
    </div>
  </div>

  <script>

  function testButton() {
    // showPreview();
    var sketch = getSketch();
    //console.log(sketch);
	  var resampledSketch = SketchRecTools.resampleByDistance(sketch);
    //console.log(resampledSketch);

    var StrokeSet=GetCircleData(sketch);
    //var fullPath = "<%= image %>";
    //console.log(resampledSketch);
    //console.log(StrokeSet);
    //var fileName = fullPath.replace(/\.[^.]+$/, '');
    //downloadObjectAsJson(sketch,fileName);
	  var TemplateNum=1
	  var Dist=TemplateMatch(resampledSketch,TemplateNum);
	  //console.log(Dist);
  }

  $(function () {
    $('[data-toggle="popover"]').popover()
  })

  function printSketch(sketch) {
    console.log(sketch);
  }

  </script>
</body>
</html>
