<html>
<head>
<title>Page Title</title>
<script src="views/js/utili.js"></script>
<!-- jQuery JS (required for Bootstrap)-->
<script src="views/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap CSS -->
<link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JS -->
<script src="views/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
var name = "<%= image %>";
console.log(name);
</script>
</head>
<body>

<h1> <%= image %> </h1>
<p>My first paragraph.</p>

</body>
</html>
