<html>
<head>
<title>Sketchpad</title>
<script src="views/js/utili.js"></script>
<!-- jQuery JS (required for Bootstrap)-->
<script src="views/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap CSS -->
<link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="views/sketchpad/css/style.css">
<!-- Bootstrap JS -->
<script src="views/bootstrap/js/bootstrap.min.js"></script>

<!-- sketchpad -->
<script src="views/sketchpad/js/sketchpad.js"></script>
<script src="views/sketchpad/js/istraw.js"></script>
<script src="views/sketchpad/js/shortStraw.js"></script>
<script src="views/sketchpad/js/sketchRecTools.js"></script>

</head>
<body onload="init()">
  <div id="content" >

    <div id="backg" style="background-image: url(views/image/<%= image %>); background-repeat: no-repeat;
    background-size: 1264px 600px;">
      <!-- <img src="views/image/<%= image %>" height="600" width="900"> -->
      <canvas id="drawCanvas" class="canvaslook" width="632" height="580" ></canvas>
    </div>

      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm" onclick="clearButton(drawCanvas, drawContext);">
            <span class="glyphicon glyphicon-trash"></span> Clear
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown">
          <span class="glyphicon glyphicon-pencil"></span> Stroke Size <span class="caret"></span></button>
          <ul id="pensize" class="dropdown-menu" role="menu">
            <li><a href="#">1</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">7</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default btn-sm" onclick="undoButton(drawCanvas, drawContext);">
            <span class="glyphicon glyphicon-arrow-left"></span> Undo
        </button>
        <button type="button" class="btn btn-default btn-sm" onclick="testButton();">
            <span class="glyphicon glyphicon-upload"></span> Submit
        </button>

        <div class="form-group">
          <button type="button" class="btn btn-default btn-sm" data-toggle="popover" data-toggle="popover" data-trigger="focus" title="Help"
          data-content=" Left image is the original image. Right image is for finding differences. You can circle redundant parts and draw missing parts on the right image.">
            <span class="glyphicon glyphicon-question-sign"></span>Help
          </button>
          <form action="/" method="get" style="display: inline-block;">
          <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-home"></span>Home
          </button>
          </form>
        </div>
    </div>
  </div>

  <script>

  function testButton() {
    // showPreview();
    var sketch = getSketch();
  }

  $(function () {
    $('[data-toggle="popover"]').popover()
  })

  function printSketch(sketch) {
    console.log(sketch);
  }

  </script>
</body>
</html>
